<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="background-night" class="h-400px p-5">
      <h1 class="d-flex text-white justify-content-center"> Khách hàng bình chọn </h1>
      <div class="d-flex h-100px justify-content-center justify-content-around border border-light">
          <div id="bg-1"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-2"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-3"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-4"class="border border-light w-25 d-inline-block m-3"></div>
      </div>

      <div class="d-flex h-100px justify-content-center justify-content-around border border-light">
          <div id="bg-5"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-6"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-7"class="border border-light w-25 d-inline-block m-3"></div>
          <div id="bg-8"class="border border-light w-25 d-inline-block m-3"></div>
      </div>
    </div>

  </body>
</html>
