<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

  </head>
  <body>
    <div class="h-600px">
      <h1 class="d-flex justify-content-center m-5"> Các gói dịch vụ </h1>
      <div class="bad h-190px d-flex justify-content-center justify-content-around ">
        <div class="col-md-3 d-inline-block m-2">
            <div class="text-white p-3 bg-secondary h-25 border"> Gói cơ bản</div>
            <div class="p-2 border">
              <p> Dẫn bạn về ra mắt </p>
              <p> Ăn cơm cùng gia đình </p>
              <p> Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào </p>
              <p> Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp </p>
              <p> </p>
            </div>
            <div class="border">
              <div class="d-flex col-md-7 justify-content-end border h-25 btn btn-dark text-white">
                <a href="#" class="text-white"><i class="fas fa-heart m-r-2"></i> Tìm hiểu thêm</a>
              </div>
            </div>
        </div>
        <div class="col-md-3 d-inline-block m-2">
          <div class="text-white p-3 bg-secondary h-25 border"> Gói tiêu chuẩn</div>
          <div class="p-2 border">
            <p> Dẫn bạn về ra mắt </p>
            <p> Ăn cơm cùng gia đình </p>
            <p> Cho phép nắm tay thể hiện quan tâm </p>
            <p> Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp </p>
          </div>
          <div class="border">
            <div class="d-flex col-md-7 justify-content-end border h-25 btn btn-dark text-white">
              <a href="#" class="text-white"><i class="fas fa-heart m-r-2"></i> Tìm hiểu thêm</a>
            </div>
          </div>

        </div>
        <div class="col-md-3 d-inline-block m-2">
          <div class="text-white p-3 bg-dark h-25 border"> Gói cơ bản</div>
          <div class="p-2 border">
            <p> Dẫn bạn về ra mắt </p>
            <p> Ăn cơm cùng gia đình </p>
            <p> Cho phép nắm tay thể hiện quan tâm </p>
            <p> Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp </p>
            <p> Và nhiều ưu đãi bất ngờ khác </p>
          </div>
          <div class="border">
            <div class="d-flex col-md-7 justify-content-end border h-25 btn text-white btn-dark text-white">
              <a href="#" class="text-white"><i class="fas fa-heart m-r-2"></i> Tìm hiểu thêm</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
