<div class="h-500px m-5">
  <h1 class="text-center"> Chào mừng các bạn đã đến với Mùa Đông Không Lạnh </h1>
  <p class="text-center m-5 font-lobster"> "Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình
  người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn" </p>


  <div class="d-flex justify-content-around">
    <div id="background-male" class="h-190px d-flex justify-content-between w-50 m-5">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-white d-flex justify-content-center align-items-center"> Bạn là Nam </div>
    </div>

    <div id="background-female" class="h-190px d-flex justify-content-between w-50 m-5">
      <div class="col-md-6 text-white d-flex justify-content-center align-items-center"> Bạn là Nữ </div>
      <div class="col-md-6"></div>
    </div>
  </div>

</div>
